.subscription {
  background: url("../img/subscription-section/subscription-bg.png") center no-repeat #4B3B4E;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px;
  box-sizing: border-box;
  @include tablet {
    padding: 95px 10px;
  }
  @include desktop {
    padding: 83px 0 97px 0;
  }

  &__head {
    font-size: 42px;
    color: white;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
    @include tablet {
      font-size: 48px;
      margin-bottom: 39px;
    }
    @include desktop {
      font-size: 48px;
      margin-bottom: 61px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
    }
    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 15px;
      max-width: 1200px;
      padding: 0 10px;
    }
  }

  &__head-container {
    width: 100%;
    background: rgba(255, 255, 255, .06);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__head-container--bigger {
    background: rgba(0, 0, 0, .11);
  }

  &__item {
    background: rgba(255, 255, 255, .11);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: min-content;
    position: relative;
    margin-bottom: 18px;
    @include tablet {
      max-width: 260px;
      margin-bottom: 30px;
    }
    @include desktop {
      width: 100%;
    }
  }
  &__item:nth-child(3) {
    width: 100%;
    background: rgba(70, 48, 72, .84);
    @include tablet {
      max-width: 300px;
    }
  }
  &__item:nth-child(odd) {
    @include tablet {
      justify-self: end;
    }
  }
  &__item:nth-child(even) {
    @include tablet {
      justify-self: start;
    }
  }

  &__item::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    background: $theme-color;
    margin: auto;
    left: 0;
    right: 0;
    top: 54%;
  }

  &__item-head {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    padding: 36px 5px;
  }
  &__item-head--bigger {
    padding: 43px 0;
  }

  &__price {
    font-size: 60px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
  }
  &__price--bigger {
    font-size: 82px;
  }
  &__term {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 73px;
    text-align: center;
  }
  &__term--bigger {
    margin-bottom: 73px;
  }
  &__conditions {
    font-size: 16px;
    line-height: 32px;
    color: white;
    margin-bottom: 37px;
    text-align: center;
    padding: 0 10px;
  }
  &__conditions--bigger {
    margin-bottom: 83px;
  }
  &__btn {
    width: 163px;
    height: 45px;
    border-radius: calc(45px / 2);
    background: rgba(255, 255, 255, .15);
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 36px;
  }
  &__btn--first {
    margin-bottom: 67px;
  }

}