.mar-10 {
  margin-left: 20px; // первая картинка она как бы немного сдвинута вправо, а 3 нижних по центру
}

.what-you-get {
  display: flex;
  justify-content: center;
  padding-top: 90px;

  &__title {
    text-align: center;
    margin-bottom: 50px;
    order: -1;
    display: inline-block;
    padding-top: 0;
    margin-left: 0;
    font-weight: bold;
    font-size: 32px;
    color: #8D81AC;

  }

  &__wrap {
    max-width: 1200px;
    display: grid;

    .img-editor {
      margin-left: 10px;
      width: 100%;
    }

    &__img-and-text {

      &__item {

        margin-bottom: 34px;
        display: grid;
        justify-items: center;

        &__title {
          margin-top: 27px;
          font-size: 16px;
          color: #323232;
          text-align: center;
        }

        &__p {
          margin-top: 15px;
          font-size: 14px;
          color: #848E97;
          line-height: 21px;
          text-align: center;
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }
  }
}


@include tablet-desktop {

  .what-you-get__wrap__img-and-text__item__title {

    margin-top: 0;
  }

  .what-you-get__wrap__img-and-text__item {
    grid-template-columns: 25% 75%;
  }

  .what-you-get__wrap__img-and-text__item__title {
    text-align: left;
  }

  .what-you-get__wrap__img-and-text__item__p{
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }

}

@include tablet {

  .img-editor {
    width: 100%;
  }

  .what-you-get__wrap {
    display: grid;
  }

  .what-you-get__title {
    font-size: 42px;
  }
}


@include desktop {
  .img-editor {
    object-fit: cover;
  }

  .what-you-get {
    background: #F4F4F4;
  }

  .what-you-get__wrap {
    padding-left: 90px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 50px;
  }

  .what-you-get__title {
    margin-left: 25px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 48px;
  }

  .what-you-get__wrap__img-and-text {
    grid-row-start: 1;
    grid-row-end: 3;
  }

}


